<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse adjust-nav" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link " aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/plans" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Plans</a>
          <a class="nav-link" routerLink="/payment" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Pay Bill</a>
        </div >
      </div>
    </div>
  </nav>
    
  