.active{
    color: white;
}

@media only screen and (max-width:989px){
    .nav-link{
        margin-right: 10px;
        text-align: center !important;
    }
}

@media only screen and (min-width:990px){
    .nav-link{
        margin-right: 80px;
    }

    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100% !important;
    }
}

